/*
Theme Name:   SNN-BRX - Bricks Builder Child Theme
Theme URI:    https://github.com/sinanisler/snn-brx-child-theme
Description:  SNN-BRX Child Theme is a purpose-built essential building suite for agencies and professionals, streamlining your Bricks Builder projects with one powerful child theme.
Author:       sinanisler
Author URI:   https://github.com/sinanisler
Text Domain:  snn
Template:     bricks
Version: 0.273
*/

