name: Sync Files

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    env:
      FILES_TO_SYNC: |
        includes/block-editor-settings.php
        includes/custom-field-settings.php
        includes/taxonomy-settings.php
        includes/post-types-settings.php
        includes/301-redirect.php
        includes/404-logging.php
        includes/security-page.php
        includes/security-page.php
        includes/disable-emojis.php
        includes/disable-gravatar.php
        includes/disable-xmlrpc.php
        includes/disable-wp-json-if-not-logged-in.php
        includes/disable-bundled-theme-install.php
        includes/disable-file-editing.php
        includes/remove-rss.php
        includes/remove-wp-version.php
        includes/login-math-captcha.php
        includes/login-settings.php
        includes/media-settings.php
        includes/smtp-settings.php
        includes/mail-logging.php
        includes/search-loggins.php
        includes/role-manager.php
        includes/custom-code-snippets.php
        includes/cookie-banner.php
        includes/accessibility-settings.php
        includes/other-settings.php
        includes/activity-logs.php

    steps:
      - name: Checkout Source Repo
        uses: actions/checkout@v4
        with:
          path: source-repo

      # Sync to sinanisler/snn-block
      - name: Checkout Destination Repo (snn-block)
        uses: actions/checkout@v4
        with:
          repository: sinanisler/snn-block
          path: destination-repo-block
          token: ${{ secrets.SNNBRXSYNCSECRET }}

      - name: Copy files to Destination Repo (snn-block)
        run: |
          for file_path in $FILES_TO_SYNC; do
            echo "Processing file: $file_path (snn-block)"
            mkdir -p "destination-repo-block/$(dirname "$file_path")"
            cp "source-repo/$file_path" "destination-repo-block/$file_path"
          done

      - name: Commit and Push Changes (snn-block)
        run: |
          cd destination-repo-block
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if [[ -z $(git status --porcelain) ]]; then
            echo "No changes to commit."
            exit 0
          fi
          for file_path in $FILES_TO_SYNC; do
            git add "$file_path"
          done
          git commit -m "SNN-BRX Sync"
          git push

      # Sync to sinanisler/snn-shop
      - name: Checkout Destination Repo (snn-shop)
        uses: actions/checkout@v4
        with:
          repository: sinanisler/snn-shop
          path: destination-repo-shop
          token: ${{ secrets.SNNBRXSYNCSECRET }}

      - name: Copy files to Destination Repo (snn-shop)
        run: |
          for file_path in $FILES_TO_SYNC; do
            echo "Processing file: $file_path (snn-shop)"
            mkdir -p "destination-repo-shop/$(dirname "$file_path")"
            cp "source-repo/$file_path" "destination-repo-shop/$file_path"
          done

      - name: Commit and Push Changes (snn-shop)
        run: |
          cd destination-repo-shop
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if [[ -z $(git status --porcelain) ]]; then
            echo "No changes to commit."
            exit 0
          fi
          for file_path in $FILES_TO_SYNC; do
            git add "$file_path"
          done
          git commit -m "SNN-BRX Sync"
          git push
 